$gameBoardBgColor: #e7f3f7;
$challengeBgColor: #2c5364;
$DarkBlue-200: #e9eaeb;
$DarkBlue-300: #80858c;
$DarkBlue-400: #6a7079;
$DarkBlue-500: #555c66;
$DarkBlue-600: #353d49;
$DarkBlue-700: #2b3340;
$DarkBlue-800: #232a35;
$Blue-100: #d3e1ff;
$Blue-200: #1a2980;
$Blue-300: #0f2027;
$Blue-400: #3c5969;
$Blue-500: #4a6b7c;
$Blue-600: #6596ff;
$Blue-700: #1f3a52;
$Blue-800: #2c5364;
$BlueGray-300: #f2f5f9;
$BlueGray-500: #e3e8f0;