@import "./variables.scss";
@import "./mixins.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

.content {
  &-memory {
    background-color: $gameBoardBgColor;
    &__play {
      max-width: 768px;
      max-height: 703px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
      @include pc-mm {
        max-width: 640px;
        max-height: 640px;
      }
      @include pc-s {
        max-width: 540px;
        max-height: 580px;
      }
      @include ipad-s {
        max-width: 440px;
      }
      @include phone-l {
        max-width: 343px;
      }
      &-game {
        background: linear-gradient(
          to bottom,
          #00416a,
          #2c5364,
          #3a6073,
          #667db6
        );
        margin: 0 auto;
        padding-top: 24px;
        min-height: 100vh;
        @include ipad-s {
          padding: 12px 16px 0 16px;
        }
        
        &__section {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 24px;
          justify-content: center;
          max-width: 640px;
          margin: 0 auto;
          width: 100%;
          background-color: $gameBoardBgColor;
          padding: 24px;
          border-radius: 8px;
          @include ipad-s {
            max-width: 520px;
            grid-template-columns: repeat(3, 1fr);
          }
          @include ipad-xs {
            padding: 12px;
            gap: 12px;
          }
          img {
            width: 100%;
          }
          .victory-state {
            grid-column-start: 1;
            grid-column-end: -1;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .card {
            aspect-ratio: 1 / 1;
            background-color: $Blue-700;
            background-size: 100% 100%;
            background-position: center;
            background-repeat: no-repeat, no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 6px;
            cursor: pointer;
            border: 6px solid transparent;
            animation: flipUp 0.5s forwards;
            img {
              opacity: 1;
              transition: opacity 0.5s;
              max-width: 100%;
              height: auto;
            }
            &.down {
              animation: flipDown 0.5s forwards;
              img {
                opacity: 0;
              }
            }
            &.matched {
              animation: matching 1s forwards;
            }
          }

          @keyframes flipDown {
            0% {
              background-color: $Blue-800;
              transform: rotateY(0deg);
            }
            100% {
              background-color: $Blue-700;
              transform: rotateY(180deg);
            }
          }

          @keyframes flipUp {
            0% {
              background-color: $Blue-700;
              transform: rotateY(180deg);
            }
            100% {
              background-color: $Blue-800;
              transform: rotateY(0deg);
            }
          }

          @keyframes matching {
            0% {
              background-color: $Blue-300;
            }
            50% {
              background-color: $Blue-300;
            }
            100% {
              background-color: $Blue-200;
            }
          }
        }
      }
    }
  }
  &-modal {
    position: relative;
    $pcBackgroundWidth: 493px;
    opacity: 0;
    display: none;
    background-color: $gameBoardBgColor;
    height: 475px;
    &__title {
      text-align: center;
      img {
        height: 58px;
        @include pc-mm {
          height: 46px;
        }
      }
    }
    &__nav {
      display: flex;
      &__item {
        flex-grow: 1;
        color: $DarkBlue-600;
        border: 1px solid $DarkBlue-600;
        text-align: center;
        padding: 10px 0;
        margin-top: 33px;
        font-weight: bold;
        cursor: pointer;
        @include pc-mm {
          margin-top: 24px;
        }
        &:hover {
          background-color: $BlueGray-300;
        }
        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-right: none;
        }
        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      &__item--selected {
        background-color: $DarkBlue-600;
        color: #fff;
        &:hover {
          background-color: $DarkBlue-600;
        }
      }
    }
    .modal-common {
      position: relative;
      height: 100%;
      @include ipad-s {
        width: 100%;
      }
      p {
        margin-top: 0;
        color: $DarkBlue-800;
      }
      span {
        color: $DarkBlue-300;
        font-size: 20px;
        text-align: center;
        display: block;
        @include phone-l {
          font-size: 16px;
        }
        &.btn-note {
          font-size: 13px;
          @include phone-l {
            font-size: 12px;
          }
        }
      }
      button {
        font-family: "微軟正黑體" !important;
        position: relative;
        display: block;
        background-color: $challengeBgColor;
        margin: 16px auto;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 29px;
        border-radius: 26.4px;
        border: 0;
        box-shadow: 0 7px 0 0 $Blue-700;
        cursor: pointer;
        transition: all 0.2s ease-out;
        top: 0;
        color: #fff;
        &:hover {
          box-shadow: 0 3px 0 0 $Blue-700;
          top: 4px;
        }
      }
      &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
    .game-result {
      &__info {
        margin: 32px 0 40px 0;
        @include ipad-s {
          margin: 24px 0 32px 0;
        }
        p {
          line-height: 1.5;
          text-align: center;
          color: $DarkBlue-600;
          font-size: 24px;
          font-weight: bold;
        }
        &.game-result__info--success p {
          @include ipad-s {
            font-size: 20px;
          }
        }
        &__invite {
          display: block;
          text-align: center;
          color: $DarkBlue-400;
          font-size: 18px;
          line-height: 1.5;
          @include ipad-s {
            font-size: 16px;
            margin-bottom: 0;
          }
        }
      }
      &__form {
        input {
          width: 100%;
          max-width: 312px;
          border: 2px solid $DarkBlue-200;
          border-radius: 8px;
          color: $DarkBlue-800;
          font-size: 18px;
          padding: 12px 0;
          text-align: center;
          margin-bottom: 72px;
          @include pc-sm {
            margin-bottom: 48px;
          }
          @include phone-l {
            margin-bottom: 56px;
          }
        }
        label {
          display: block;
          text-align: center;
          color: $DarkBlue-400;
          font-size: 18px;
          margin-bottom: 16px;
          @include ipad-s {
            font-size: 16px;
            margin-bottom: 12px;
          }
        }
      }
      &__btn {
        &:before {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-radius: 50%;
          border: 0 none;
          margin-right: 0;
          transition: all 0.5s;
        }
        &--black {
          box-shadow: 0 7px 0 0 $DarkBlue-800 !important;
          background-color: $DarkBlue-500 !important;
          color: #fff !important;
          position: relative;
          &:hover {
            top: 4px;
            box-shadow: 0 3px 0 0 $DarkBlue-800 !important;
          }
        }
        &.game-result__btn--disabled,
        &.game-result__btn--loading {
          pointer-events: none;
          background-color: $Blue-500;
          color: #fff;
          box-shadow: 0 7px 0 0 $Blue-400;
          @include ipad-s {
            box-shadow: 0 3px 0 0 $Blue-400;
          }
        }
        &--loading:before {
          width: 20px;
          height: 20px;
          border: 2px solid #99ccff;
          border-top-color: white;
          margin-right: 10px;
          animation: rotating 1s infinite;
        }
      }
    }
    .get-coupon {
      position: relative;
      @include ipad-s {
        width: 100%;
      }
      p {
        font-size: 32px;
        color: $DarkBlue-600;
        line-height: 1.5;
        margin-bottom: 8px;
        font-weight: bold;
        @include phone-l {
          font-size: 24px;
        }
      }
      span {
        line-height: 1.5;
        color: $DarkBlue-400;
      }
      button {
        margin: 32px auto 0 auto;
      }
      &__wrapper {
        padding: 159px 99px 163px 100px;
        background-position: left 54px top 101px, right 54px bottom 106px,
          center;
        background-repeat: no-repeat;
        background-size: 31px 24px, 31px 25px, contain;
        position: relative;
        @include pc-sm {
          padding: 159px 80px 163px 80px;
          // width: 400px;
        }
        @include ipad-s {
          padding: 126px 79px 125px 73px;
          background-position: left 40px top 90px, right 40px bottom 94px,
            center;
          background-size: 28px 22px, 28px 23px, contain;
        }
        &.get-coupon__wrapper--tight {
          @include pc-sm {
            width: auto;
          }
        }
      }
      &__bg-head {
        position: absolute;
        right: -136px;
        bottom: -196px;
        transform: scaleX(-1) rotate(-8deg);
        width: 242px;
        @include pc-m {
          right: -88px;
          bottom: -138px;
          width: 180px;
        }
        @include pc-mm {
          right: -58px;
          bottom: -118px;
          width: 140px;
        }
        @include pc-sm {
          right: -38px;
          bottom: -52px;
          width: 96px;
        }
        @include ipad-s {
          width: 133px;
          right: -60px;
          bottom: -96px;
        }
        @include ipad-xs {
          right: -32px;
          bottom: -130px;
        }
        @include phone-l {
          right: 4px;
          bottom: -136px;
        }
      }
      a.close-modal {
        @include phone-l {
          right: 32px;
        }
        &.close-modal--tight {
          @include phone-l {
            right: 0;
          }
        }
      }
    }
  }
}
